.popup__form-item {
  padding: 13px 10px;
  width: calc(100% - 20px);
  height: 13px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  align-self: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
